/* Write your CSS here */
.item-cont {
  flex-grow: 1;
  list-style-type: none;
  align-items: center;
}
.imgg {
  height: 200px;
  width: 300px;
}

@media (max-width: 767px) {
  .imgg {
    height: 130px;
    width: 200px;
  }
}
